.modal.fade#commonModal
  .modal-dialog
    .modal-content
      .modal-header
        .button{type:'button', class:'close', data: {dismiss:'modal'}, aria:{hidden:'true'}}
          &times;
        %h5.modal-title#commonModalTitle
      .modal-body#commonModalBody
      .modal-footer
        %button{type: 'button', class: 'btn btn-default btn-sm', 'data-dismiss' => 'modal' }Close
