.legend-a{
  float: right;
  margin-top: -5px;
}

.img {
  position: relative;
  float: left;
  width:  175px;
  height: 175px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

.img-gallery{
  margin-bottom: 10px;
}

.error-red{
  color: #a94442;
}
